<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trafficguideMapper">
	 

	<select id="getTrafficguideListPage" parameterType="page" resultType="com.op.splot.entity.Trafficguide">
		  SELECT
         t.id , s.id as sid ,t.pho ,t.busline ,t.selfdrivingroute,s.name
		  FROM
		  s_spot s
		  left join
		  s_trafficguide t
		  on t.sid=s.id
		WHERE 1=1
		<if test="t!= null and t!= '' ">
			AND s.name LIKE CONCAT(CONCAT('%', #{t}),'%')
		</if>
		order by s.cdate desc,s.id desc

	</select>
	 
	<select id="getTrafficguideById" parameterType="com.op.splot.entity.Trafficguide" resultType="com.op.splot.entity.Trafficguide">
		SELECT
		 <![CDATA[
        id ,sid ,pho ,busline ,selfdrivingroute 
	    
	        FROM s_trafficguide 
	        WHERE 

		        id = #{id } 
	    ]]>
	</select>
	<insert id="saveTrafficguide" parameterType="com.op.splot.entity.Trafficguide">
		 <![CDATA[
        INSERT INTO s_trafficguide (
        	id ,
        	sid ,
        	pho ,
        	busline ,
        	selfdrivingroute 
        ) VALUES (
        	#{id} ,
        	#{sid} ,
        	#{pho} ,
        	#{busline} ,
        	#{selfdrivingroute} 
        )
    ]]>
		<selectKey keyProperty="id" resultType="int">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>
	<update id="updateTrafficguide" parameterType="com.op.splot.entity.Trafficguide">
		<![CDATA[
        UPDATE s_trafficguide SET
	        sid = #{sid} ,
	        pho = #{pho} ,
	        busline = #{busline} ,
	        selfdrivingroute = #{selfdrivingroute} 
        WHERE 
	        id = #{id} 
    ]]>
	</update>
	 
</mapper>