<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 图片分类(app_photoclassify)Mapper -->
<mapper namespace="app_photoclassifyMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 不使用缓存加入useCache="false" -->
	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" /> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->

	<sql id="Base_Column_List">
		pc_id,pd_id ,pc_content,c_id
	</sql>

	<resultMap type="com.app.entity.photo.App_photoclassify" id="App_photoclassifyReturnMap">
		<!-- ID -->
		<id column="pc_id" property="pc_id" />
		<!-- 描述ID -->
		<result column="pd_id" property="pd_id" />
		<!-- 内容 -->
		<result column="pc_content" property="pc_content" />
		<!-- 分类ID -->
		<result column="c_id" property="c_id" />
	</resultMap>


	<!-- 根据描述ID查询照片分类 -->
	<select id="findPhotoClassifyByDescId" parameterType="String" resultMap="App_photoclassifyReturnMap">
		select pc_id,pd_id ,pc_content from app_photoclassify
		where pd_id = #{pd_id}
	</select>

</mapper>