<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="complaintLeadMapper">

	<!-- 查询所有投诉领队的信息 -->
	<select id="selectComplaintLeadPage" parameterType="Page" resultType="com.op.entity.usercenter.ComplaintLeadInfo">
   		  select ComplaintLead.*,Users.uname 
   		  from ComplaintLead left join Users on ComplaintLead.plaintiff=Users.u_id 
   		  where 1=1 
   		  <!-- id -->
   		  <if test="t.cl_id!=null and t.cl_id!=''">
   		  	and ComplaintLead.cl_id=#{t.cl_id}
   		  </if>
   		  <!-- 用户昵称 -->
   		  <if test="t.uname!=null and t.uname!=''">
   		  	and Users.uname like CONCAT(CONCAT('%', #{t.uname}),'%')
   		  </if>
   		  <!-- 投诉状态 -->
   		  <if test="t.state!=0">
   		  	and ComplaintLead.state=#{t.state}
   		  </if>
   		  <!-- 起始时间 -->
   		  <if test="t.starttime!=null">and ComplaintLead.handlingtime>=#{t.starttime}</if>
   		  <!-- 终止时间 -->
   		  <if test="t.endtime!=null">and ComplaintLead.handlingtime<![CDATA[<=]]>#{t.endtime}</if>
   		  order by ComplaintLead.handlingtime
   </select>
   
   <!-- 根据id处理投诉领队信息-->
   <update id="updateComplaintLead" parameterType="map">
   		update ComplaintLead set handleResults=#{handleResults},operator=#{operator},state=#{state},handlingTime=now() where cl_id=#{cl_id}
   </update>
</mapper>