<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="issueMapper">
	<sql id="Base_Column_List">
    id,issueType ,content ,contact ,userId ,submitTime ,postil ,operator 
    </sql>

    <resultMap type="com.op.entity.usercenter.Issue" id="IssueReturnMap">
      <id column="id" property="id"/>
      <result column="issueType" property="issueType"/>
      <result column="content" property="content"/>
      <result column="contact" property="contact"/>
      <result column="userId" property="userId"/>
      <result column="submitTime" property="submitTime"/>
      <result column="postil" property="postil"/>
      <result column="operator" property="operator"/>
   </resultMap>
   
   <!-- 查询所有意见建议 -->
   <select id="selectIssuePage" parameterType="Page" resultType="com.op.entity.usercenter.IssueInfo">
   		  select Issue.*,Users.uname 
   		  from Issue left join Users on Issue.userid=Users.u_id 
   		  where 1=1 
   		  <!-- id -->
   		  <if test="t.id!=null and t.id!=''">
   		  	and Issue.id=#{t.id}
   		  </if>
   		  <!-- 用户昵称 -->
   		  <if test="t.uname!=null and t.uname!=''">
   		  	and Users.uname like CONCAT(CONCAT('%', #{t.uname}),'%')
   		  </if>
   		  <!-- 问题类型 -->
   		  <if test="t.issueType!=0">
   		  	and Issue.issuetype=#{t.issueType}
   		  </if>
   		  <!-- 起始时间 -->
   		  <if test="t.starttime!=null">and Issue.submitTime>=#{t.starttime}</if>
   		  <!-- 终止时间 -->
   		  <if test="t.endtime!=null">and Issue.submitTime<![CDATA[<=]]>#{t.endtime}</if>
   		  order by Issue.submittime
   </select>
   
   <!-- 根据id审核意见建议 -->
   <update id="updateIssue" parameterType="map">
   		update Issue set postil=#{postil},operator=#{operator} where id=#{id}
   </update>
</mapper>